h1{
letter-spacing: 5px;
text-transform: uppercase;}
body{margin: 0;}

.Coord{border-color:#89200e ;margin-left: 50%;transform:translateX(-50%) ;
margin-top: 30px;}
a{
    color: #89200e;
    text-decoration: none;
    margin: 10px;

}
nav{
    text-align: center;
}
.pdp{
    margin-left: 50%;
    transform: translateX(-50%);
    border: 2px solid #89200e;
    border-radius: 20%;
    box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.233);
}
nav{color: #89200e;
    text-align: center;
    background-color: #66666624;
padding: 50px;
font-family: "Zalando Sans", sans-serif;
letter-spacing: 5px;
text-transform: uppercase;border: 2px solid #89200e ;

}
.Title1{color: blue;
letter-spacing: 5px;
text-align: center;
text-transform: uppercase;border: 2px solid violet;
background-color: antiquewhite;
box-shadow: 4px 6px 8px blueviolet;

}
.First_lign{text-align: center;
    background-color: #66666624;
padding: 50px;
font-family: "Zalando Sans", sans-serif;
border: 2px solid #89200e ;
color: #89200e;

}
.Animation{animation: F1 1s; 

}
@keyframes F1 {
    0%{opacity: 0.8;transform: translateX(-40px);
    }
    20%{opacity: 0.6;transform: translateX(-80px);color: blue;}
    40%{opacity: 0.4;transform: translateX(-120px)}
    60%{opacity: 0.2;transform: translateX(-160px);color: aqua                                                                                                                                                                                                                                                                                              ;}
    100%{opacity: 0.2;transform: translateX(-200px)}
    
}


